# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [4]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
print(data)

{'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': 'A)( MA EKTS/NGAEDGELLSRNTSA LBQCO', 'calculationPrice': 'tops', 'open': None, 'openTime': None, 'openSource': 'afloiifc', 'close': None, 'closeTime': None, 'closeSource': 'ocfiliaf', 'high': None, 'highTime': None, 'highSource': None, 'low': None, 'lowTime': None, 'lowSource': None, 'latestPrice': 130.79, 'latestSource': 'IEX real time price', 'latestTime': '11:49:42 AM', 'latestUpdate': 1675339297083, 'latestVolume': None, 'iexRealtimePrice': 124.96, 'iexRealtimeSize': 4, 'iexLastUpdated': 1679461461568, 'delayedPrice': None, 'delayedPriceTime': None, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'extendedPrice': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPriceTime': None, 'previousClose': 127.12, 'previousVolume': 83203168, 'change': 0.4, 'changePercent': 0.00319, 'volume': None, 'iexMarketPercent': 0.012541676662805633, 'iexVolume': 494101, 'avgTotalVolume': 98697104, 'iexBidPrice': 126.8, 'iexBidSize': 206, 'iexAskPrice': 128.22, 'iexAskSize': 100, 'iexOpen': 130.93, 'iexOpenTime': 1614724187849, 'iexClose': 129.16, 'iexCloseTime': 1680070646194, 'marketCap': 2172214851687, 'peRatio': 39.35, 'week52High': 137.76, 'week52Low': 56.69, 'ytdChange': 0.7134168445570448, 'lastTradeTime': 1627295218493, 'isUSMarketOpen': True}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [5]:
price = data['latestPrice']
market_cap = data['marketCap']

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [6]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [7]:
final_dataframe.append(
    pd.Series (
    [
        symbol,
        price,
        market_cap,
        'N/A'
    ],
    index = my_columns
    ),
    ignore_index=True
)

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL       130.79         2172214851687                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [8]:
final_dataframe = pd.DataFrame(columns = my_columns)
for symbol in stocks['Ticker']:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)

In [9]:
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A      117.922           37216527421                     N/A
1      AAL       18.760           11223244850                     N/A
2      AAP      159.340           10767934737                     N/A
3     AAPL      127.950         2160667112565                     N/A
4     ABBV      112.320          198357657410                     N/A
..     ...          ...                   ...                     ...
500    YUM      107.000           32550147047                     N/A
501    ZBH      151.200           31605605243                     N/A
502   ZBRA      386.460           20701162198                     N/A
503   ZION       43.800            7216813054                     N/A
504    ZTS      160.490           75511880188                     N/A

[505 rows x 4 columns]

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [10]:
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [11]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
final_dataFrame = pd.DataFrame(columns = my_columns)
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataFrame = final_dataFrame.append(
        pd.Series(
        [
            symbol,
            data[symbol]['quote']['latestPrice'],
            data[symbol]['quote']['marketCap'],
            'N/A'
        ],
        index = my_columns),
        ignore_index=True
        )
final_dataFrame

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A      117.950           37104801371                     N/A
1      AAL       18.720           11078679601                     N/A
2      AAP      162.440           10795477802                     N/A
3     AAPL      130.443         2150764889903                     N/A
4     ABBV      108.640          196357753278                     N/A
..     ...          ...                   ...                     ...
500    YUM      108.050           32812895672                     N/A
501    ZBH      149.960           31684781742                     N/A
502   ZBRA      396.840           20361202089                     N/A
503   ZION       44.500            7176839123                     N/A
504    ZTS      163.150           76385655474                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [12]:
portfolio_size = input('Enter the value of your portfolio:')

try: 
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \nPlease Try Again:")
    portfolio_size = input('Enter the value of your portfolio')
    val = float(portfolio_size)

Enter the value of your portfolio:10000000

In [16]:
position_size = float(portfolio_size) / len(final_dataFrame.index)
for i in range(0, len(final_dataFrame['Ticker'])-1):
    final_dataFrame.loc[i, 'Number Of Shares to Buy'] = math.floor(position_size / final_dataFrame['Stock Price'][i])
final_dataFrame

,Ticker,Stock Price,Market Capitalization,Number of Shares to Buy,Number Of Shares to Buy
0,A,117.950,37104801371,N/A,167.0
1,AAL,18.720,11078679601,N/A,1057.0
2,AAP,162.440,10795477802,N/A,121.0
3,AAPL,130.443,2150764889903,N/A,151.0
4,ABBV,108.640,196357753278,N/A,182.0
...,...,...,...,...,...
500,YUM,108.050,32812895672,N/A,183.0
501,ZBH,149.960,31684781742,N/A,132.0
502,ZBRA,396.840,20361202089,N/A,49.0
503,ZION,44.500,7176839123,N/A,444.0
504,ZTS,163.150,76385655474,N/A,NaN

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [27]:
writer = pd.ExcelWriter('recommended trades.xlsx', engine = 'xlsxwriter')
final_dataFrame.to_excel(writer, 'Recommended Trades', index = False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [28]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1

    }
)
dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1

    }
)
integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1

    }
)

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

In [29]:
writer.sheets['Recommended Trades'].set_column('A:A', 18, string_format)
writer.sheets['Recommended Trades'].set_column('B:B', 18, num_format)
writer.sheets['Recommended Trades'].set_column('C:C', 18, num_format)
writer.sheets['Recommended Trades'].set_column('D:D', 18, num_format)
writer.save()

NameError: name 'num_format' is not defined

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

## Saving Our Excel Output

Saving our Excel file is very easy: