# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import requests
import math
from scipy import stats
import xlsxwriter

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [3]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [7]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2081641073373,
 'week52high': 135.35,
 'week52low': 58.26,
 'week52change': 0.8415347003553942,
 'sharesOutstanding': 17360668779,
 'float': 0,
 'avg10Volume': 94797552,
 'avg30Volume': 94624369,
 'day200MovingAvg': 110.95,
 'day50MovingAvg': 118.6,
 'employees': 137115,
 'ttmEPS': 3.32,
 'ttmDividendRate': 0.8266668619846899,
 'dividendYield': 0.006808607751068315,
 'nextDividendDate': '0',
 'exDividendDate': '2020-10-31',
 'nextEarningsDate': '0',
 'peRatio': 36.8669742113698,
 'beta': 1.179707982015276,
 'maxChangePercent': 46.33956756354368,
 'year5ChangePercent': 3.66424335874824,
 'year2ChangePercent': 2.042267051079326,
 'year1ChangePercent': 0.8561371409022224,
 'ytdChangePercent': 0.6856504278209554,
 'month6ChangePercent': 0.43007316652728095,
 'month3ChangePercent': 0.04100865284148579,
 'month1ChangePercent': 0.0488986919662135,
 'day30ChangePercent': 0.04748487932490774,
 'day5ChangePercent': -0.010764644015557365}

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [8]:
data['year1ChangePercent']

0.8561371409022224

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [9]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [23]:
final_dataFrame = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataFrame = final_dataFrame.append(
        pd.Series(
        [
            symbol,
            data[symbol]['quote']['latestPrice'],
            data[symbol]['stats']['year1ChangePercent'],
            'N/A'
        ],
        index = my_columns),
            ignore_index = True
        )
final_dataFrame

    Ticker    Price One-Year Price Return Number of Shares to Buy
0        A  124.370              0.455837                     N/A
1      AAL   18.190             -0.382476                     N/A
2      AAP  163.820             0.0503672                     N/A
3     AAPL  125.200              0.871894                     N/A
4     ABBV  111.686              0.330098                     N/A
..     ...      ...                   ...                     ...
500    YUM  111.670             0.0993921                     N/A
501    ZBH  148.600             0.0115833                     N/A
502   ZBRA  383.000              0.498158                     N/A
503   ZION   44.260             -0.109265                     N/A
504    ZTS  158.620              0.325355                     N/A

[505 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [29]:
final_dataFrame.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataFrame = final_dataFrame[:50]
final_dataFrame.reset_index(inplace = True)

<ipython-input-29-303049db4440>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dataFrame.sort_values('One-Year Price Return', ascending = False, inplace = True)

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [33]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input('Enter the size of your portfolio:')
    
    try:
        float(portfolio_size)
    except ValueError:
        print('That is not a number! \nPlease try again:')
        portfolio_size = input('Enter the size of your portfolio:')
portfolio_input()
print(portfolio_size)

Enter the size of your portfolio:10000000
10000000

In [38]:
position_size = float(portfolio_size)/len(final_dataFrame.index)
for i in range(0, len(final_dataFrame)):
    final_dataFrame.loc[i, 'Number of Shares to Buy'] = position_size/final_dataFrame.loc[i, 'Price']
final_dataFrame

/Users/mikereidy/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,level_0,index,Ticker,Price,One-Year Price Return,Number of Shares to Buy
0,0,78,CARR,39.360,2.23897,5081.3
1,1,345,NVDA,521.500,1.47576,383.509
2,2,275,LB,41.200,1.4283,4854.37
3,3,31,AMD,94.227,1.35989,2122.53
4,4,23,ALB,145.760,1.30415,1372.12
5,5,179,FCX,25.356,1.04371,7887.68
6,6,387,PYPL,226.200,1.03662,884.173
7,7,339,NOW,560.400,0.986103,356.888
8,8,388,QCOM,160.190,0.919582,1248.52
9,9,180,FDX,291.800,0.911902,685.401
10,10,288,LRCX,492.790,0.910441,405.852
11,11,24,ALGN,518.110,0.89058,386.018
12,12,3,AAPL,125.200,0.871894,1597.44
13,13,236,IDXX,463.610,0.83571,431.397
14,14,490,WST,275.980,0.834942,724.69
15,15,385,PWR,74.620,0.833255,2680.25
16,16,36,AMZN,3251.110,0.777204,61.5175
17,17,85,CDNS,119.910,0.768005,1667.92
18,18,440,TMUS,135.396,0.764239,1477.15
19,19,415,SNPS,237.160,0.763561,843.313
20,20,332,NFLX,508.249,0.657883,393.508
21,21,351,ODFL,200.580,0.639456,997.108
22,22,266,KLAC,257.015,0.633441,778.165
23,23,101,CMG,1331.190,0.616645,150.242
24,24,462,URI,251.030,0.600272,796.718
25,25,400,ROL,55.830,0.599356,3582.3
26,26,319,MSCI,425.288,0.599231,470.27
27,27,29,AMAT,90.130,0.598155,2219.02
28,28,495,XLNX,149.280,0.58739,1339.76
29,29,358,PAYC,446.320,0.584522,448.109
30,30,451,TYL,458.100,0.582185,436.586
31,31,9,ADBE,485.140,0.581116,412.252
32,32,448,TWTR,53.325,0.580404,3750.59
33,33,13,ADSK,282.380,0.570435,708.265
34,34,128,DE,253.980,0.562345,787.464
35,35,372,PKI,148.400,0.559285,1347.71
36,36,324,MU,72.351,0.55646,2764.3
37,37,308,MKTX,556.318,0.554678,359.507
38,38,447,TTWO,194.140,0.548051,1030.18
39,39,147,DVA,116.930,0.544073,1710.43
40,40,120,CTVA,40.550,0.543603,4932.18
41,41,133,DHR,229.900,0.539931,869.943
42,42,48,ATVI,85.780,0.536331,2331.55
43,43,323,MTD,1163.647,0.534118,171.873
44,44,331,NEM,59.813,0.533789,3343.75
45,45,63,BIO,574.430,0.532217,348.171
46,46,150,DXCM,348.920,0.53169,573.197
47,47,325,MXIM,87.550,0.526959,2284.41
48,48,246,IPGP,213.670,0.525649,936.023
49,49,502,ZBRA,383.000,0.498158,522.193

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

## Saving Our Excel Output

As before, saving our Excel output is very easy: